
/*
body {
    background-image: url(../imagens/bg.jpg);
}
*/

.mosca1{
    width: 60px;
    height: 60px;
}

.mosca2{
    width: 80px;
    height: 80px;
}

.mosca3{
    width: 100px;
    height: 100px;
}


